
@media only screen and (max-width: 767px) {

body {
	overflow-x: hidden;
}

text {
	font-family: Paralucent;
	font-style: normal;
	font-weight: 500;
	font-size: 6em;
	line-height: 1.2em;
	letter-spacing: 0.01em;
}

h1 {
	font-family: Paralucent;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5em;
	line-height: 1.2em;
	letter-spacing: 0.01em;
}

h2 {
	font-family: Paralucent;
	font-style: normal;
	font-weight: 500;
	font-size: 2em;
	line-height: 1.2em;
}

h3 {
	font-family: Paralucent;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.5em;	
}

.btn {
	background-color: #84F2D6;
  	border: 2px solid #000;
  	color: #000;
  	padding: 6% 0;
  	margin-right: auto;
  	margin-left: auto;
  	width: 100%;
  	text-align: center;
  	display: inline-block;
  	font-size: 2em;
  	border-radius: 10px;
}

.btn:hover {
	font-size: 2.1em;
	filter: drop-shadow(0px 5px 25px #84F2D6);
	transition: 0.2s;
}


.container {
	margin: 0 auto;
	padding: 0 12%;

}

.flex-header {
	display: flex;
	justify-content: space-between;
	padding: 24px; 
}

.flex-menu {
	display: flex;
	flex-direction: column;
}

.flex-menu a:hover {
	background: rgba(38, 37, 37, 0.1);
	border-radius: 10px;
	transition: 0.3s;
	padding: 20px;
}

.flex-item-menu a {
	margin-left: 40px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 32px;
	color: #000;
 }

.flex-intro {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90vh;
	padding: 0 3%;
}

.flex-item-intro {
	text-align: center;

}

.ilustracao-sid {
	display: none;
}

.flex-servicos-container {
  display: flex;
  flex-flow: wrap;
  padding: 0 8% 4%;
}

.flex-servicos-container h2 {
	text-align: center;
	font-family: Paralucent;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.5em;
}

.flex-item-servico-1 {
	padding: 3em;
	margin: 2%;
	background: #FFF6DA;
	border: 2px solid #262525;
	box-sizing: border-box;
	border-radius: 20px;
	width: 328px;
	height: 358px;
	text-align: center;
	flex: 1;

}


.marquee {
  font-family: Paralucent;
  font-style: normal;
  font-weight: 500;
  font-size: 6em;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: #84f2d6;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 30s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee-inclination {
	transform: rotate(5deg);
	max-width: 90%;
	overflow-x: hidden;
	background: #262525;
	border: 2px solid #84f2d6;
  	border-radius: 10px;
}

.marquee-inclination2 {
	transform: rotate(-5deg);
	max-width: 90%;
	overflow-x: hidden;
	background: #262525;
	border: 2px solid #84f2d6;
  	border-radius: 10px;
}

.marquee-center {
	display: block;
	margin: auto;
}

.socialmenu {
	display: none;
}



.text-scroll {
	display: none;
}

.flex-depoimentos {
	display: none;
	flex-direction: column;
}

.flex-servicos-container {
	margin-top: 12%;
}

.flex-item-footer h2{
	font-size: 1.5em;
}

.flex-container {
	padding: 12% 0;
	width: 100%;
}

.flex-container li {
	max-width: 360px;
	max-height: 360px;
}

.flex-text {
	max-width: 360px;
	max-height: 360px;
}

.flex-pelicula {
	max-width: 360px;
	max-height: 360px;
}


.titulo-abordagem {
	padding: 12% 2%;
	text-align: left;
}

.flex-lista-abordagem ul {
	padding: 2%;
}

.flex-item-abordagem{
	padding: 6%;
}

.flex-sobre {
	height: 60vh;
}

.flex-contato-align {
	display: grid;
}

.flex-contato{
	max-width: 360px;
	width: auto;
	padding: 1em;
}

.flex-contato-comigo {
	margin: 12% auto;
}

.flex-contato-align h1 {
	font-size: 4em;
	line-height: 0.1em;
}

.flex-item-post {
	margin: 0 auto;
	padding: 0;
}

.flex-desc-post {
	display: flex;
	flex-direction: column;
	width: unset;
}

.flex-desc-post-center {
	width: unset;
}

.flex-container-trabalho li {
	max-width: 360px;
	max-height: 360px;
}


.menu-footer li a {
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	line-height: 32px;
	color: #000;
}


.flex-footer {

	height: auto;
}

.socialmedia-footer {
	flex-direction: column;
	align-items: center;
	padding: 0 0 8%;
}

.socialmedia-footer li {
	margin-top: 24px;
}


.box-video iframe{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
	
}

.whatsapp {
	bottom: 0.5em;
	right: 0.5em;
}


}

